@import "@forevolve/bootstrap-dark/scss/bootstrap-dark.scss";

.renderer-frame {
  margin: 0.5rem;
  border: 1px $light dotted;
  line-height: 0;
}

.param-field {
  margin-right: 0.5rem;
}

.render-stats {
  text-align: left;
  white-space: nowrap;
}

.render-stat-row,
.render-stat-header-row,
.render-stat-total-row {
  height: 2rem;
  margin-right: 0px;
  margin-left: 0px;
}
