@import "@forevolve/bootstrap-dark/scss/bootstrap-dark.scss";

.renderer-frame {
  margin: 0.5rem;
  border: 1px $light dotted;
  line-height: 0;
}

.left-margin {
  margin-left: 0.5rem;
}

.right-margin {
  margin-right: 0.5rem;
}

.preset-selector {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.param-row {
  &.bottom-align {
    display: flex;
    align-items: flex-end;
  }
  & .header {
    position: relative;
    left: -75px;
    display: inline;
    width: 0;
  }
}

.render-stats {
  text-align: left;
  white-space: nowrap;
}

.render-stat-row,
.render-stat-header-row,
.render-stat-total-row {
  height: 2rem;
  margin-right: 0px;
  margin-left: 0px;
}
